<h1>Users list</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    <tr/>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=user.name%></td>
      <td><%= link_to 'See packages', user_lunch_packages_path(user.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', meals_path %>
