<h1>Launch Selection</h1>

<%= link_to 'Create new entry', new_meal_path %><br>
<%= link_to 'select monthly entries', new_launch_package_path %><br>
<%= link_to 'See peer launch package', launch_packages_path %><br>


