<h1>Lunch Selection</h1>

<%= link_to 'Create new entry', new_meal_path %><br>
<%= link_to 'select monthly entries', new_lunch_package_path %><br>
<%= link_to 'See peer launch package', lunch_packages_path %><br>


