<h1>Meal</h1>

<div>
  <label><%= @meal.name %></label>
  <p>
    <%= image_tag(@meal.image, size: '200')  %>
  </p>

  <%= link_to 'Back', meals_path %>
  <%= link_to 'Edit', edit_meal_path(@meal) %>
<div>
